*,
*::before,
*::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
   padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
   list-style: none;
}
a {
   text-decoration: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
   -webkit-text-decoration-skip: ink;
   text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
   max-width: 100%;
   display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
   font: inherit;
}

:root {
   --black-color: #000;
   --white-color: #fff;
   --hover-color: #7943a4;
   --focus-color: #c283f3;
}
body {
   font-family: "Open Sans", sans-serif;
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
}

/* header */
.header {
   background-color: var(--black-color);
}

.container {
   max-width: 1600px;
   min-height: 100px;
   margin: 0 auto;
   padding-top: 30px;
   padding-bottom: 30px;
}

.header-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
.header-logo {
   display: block;
   margin-right: 124px;
}
.header-nav {
   max-width: 1300px;
}

.header-nav__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.nav-item {
   max-width: 160px;
   padding-left: 50px;
}

.nav-item:first-child {
   white-space: nowrap;
}
.nav-item:last-child {
   margin-right: 276px;
}

.nav-item__link {
   display: block;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: var(--white-color);
   padding: 2px 6px;
   -webkit-transition: ease-in-out 0.3s background-color;
   -o-transition: ease-in-out 0.3s background-color;
   transition: ease-in-out 0.3s background-color;
}

.nav-item__link:hover {
   background-color: var(--hover-color);
}
.nav-item__link:focus {
   background-color: inherit;
   color: var(--focus-color);
}
.nav-item__link:active {
   background-color: inherit;
   color: var(--hover-color);
}

.burger-menu {
   width: 36px;
   height: 28px;
   display: none;
}

.burger-line__1 {
   width: 36px;
   height: 3.65px;
   background-color: var(--white-color);
   margin-bottom: 8.52px;
}

.burger-line__2 {
   width: 28px;
   height: 3.65px;
   background-color: var(--white-color);
   margin-bottom: 8.52px;
}

.burger-line__3 {
   width: 24px;
   height: 3.65px;
   background-color: var(--white-color);
}
.header-exit__link {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-weight: normal;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: var(--white-color);
   -webkit-transition: ease-in-out 0.3s background-color;
   -o-transition: ease-in-out 0.3s background-color;
   transition: ease-in-out 0.3s background-color;
}

.header-exit__link:hover {
   background-color: var(--hover-color);
}

.header-exit__link:focus {
   background-color: inherit;
   color: var(--focus-color);
}
.header-exit__link:active {
   background-color: inherit;
   color: var(--hover-color);
}

.exit-svg {
   width: 13px;
   height: 13px;
   margin-top: 5px;
   margin-right: 7px;
}

.exit-svg path {
   -webkit-transition: fill ease-in-out 0.3s;
   -o-transition: fill ease-in-out 0.3s;
   transition: fill ease-in-out 0.3s;
}

.header-exit__link:focus .exit-svg path {
   fill: var(--focus-color);
}

.header-exit__link:active .exit-svg path {
   fill: var(--hover-color);
}

.nav-sub__menu {
   display: block;
   min-height: 70px;
   background-color: rgba(0, 0, 0, 0.4);
}
/* /header */
/* sub-menu */

.nav-sub__drop {
   max-width: 1600px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
/* Dropdown Button */
.dropbtn {
   background-color: inherit;
   color: white;
   padding: 8px;
   font-size: 18px;
   line-height: 25px;
   border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.4);
   width: 300px;
   height: 300px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   margin-top: 29px;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: var(--white-color);
   max-width: 220px;
   min-height: 40px;
   display: block;
   margin-top: 40px;
   margin-left: 40px;
   position: relative;
}

.dropdown-content a img {
   opacity: 0.6;
}
.dropdown-content a span {
   position: absolute;
   top: 10px;
   left: 20px;
   right: 0;
}

.dropdown-content a:last-child {
   margin-bottom: 40px;
}

.simplebar-track.simplebar-vertical {
   width: 4px;
}
.simplebar-vertical {
   margin-top: 42px;
   margin-right: 19px;
   height: 220px;
   background-color: var(--white-color);
}

.simplebar-scrollbar {
   background-color: #000;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
   border: 2px solid #9d5cd0;
}

.dropdown-content a:focus {
   background-color: rgba(194, 131, 243, 0.39);
   border: 2px solid #9d5cd0;
   opacity: 1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown:active .dropdown-content {
   display: block;
}

.dropdown:focus .dropdown-content {
   display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
   background-color: var(--hover-color);
   color: var(--white-color);
   cursor: pointer;
}

.dropdown:active .dropbtn {
   background-color: inherit;
   color: #9d5cd0;
   cursor: pointer;
}

.dropdown:focus .dropbtn {
   background-color: inherit;
   color: #7943a4;
   cursor: pointer;
}
.dropbtn:active .down-svg__menu path {
   fill: #9d5cd0;
}

.dropbtn:focus .down-svg__menu path {
   fill: #7943a4;
   transform: rotate(180deg);
}
.nav-sub__search {
   margin-left: 329px;
}

.nav-sub__form {
   display: flex;
}

.nav-sub__form input {
   background-color: inherit;
   border: none;
   outline: none;
   border-bottom: 1px solid #fff;
   color: var(--white-color);
   cursor: pointer;
}

.nav-sub__form input:hover {
   border-bottom: 1px solid #c283f3;
}
.nav-sub__form input:focus {
   border-bottom: 1px solid #7943a4;
}
.nav-sub__form input::placeholder {
   font-size: 18px;
   line-height: 25px;
   color: var(--white-color);
}

.input-search {
   display: block;
   width: 22.1px;
   height: 21.62px;
   margin-right: 9px;
}
/* /sub-menu */

/* reponsive - styles */
@media (max-width: 1440px) {
   .header-logo {
      margin-right: 0;
   }

   .nav-item:last-child {
      margin-right: 155px;
   }
}

@media (max-width: 1220px) {
   .header-logo {
      margin-right: 0;
   }

   .nav-item:last-child {
      margin-right: 50px;
   }

   .nav-item {
      padding-left: 30px;
   }
}

@media (max-width: 1115px) {
   .header-logo {
      margin-right: 0;
   }

   .nav-item:last-child {
      margin-right: 25px;
   }

   .nav-item {
      padding-left: 15px;
   }
}

@media (max-width: 1024px) {
   .header-logo {
      margin-right: 0;
      order: 2;
   }

   .header-nav {
      order: 1;
      margin-left: 0;
   }

   .header-nav__list {
      display: none;
   }

   .header-container {
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
   }
   .header-exit {
      display: none;
   }
   .burger-menu {
      display: block;
      cursor: pointer;
   }
}
/* /reponsive -styles */
